* {
  box-sizing: border-box;
  font-size: 20px;
}

.grid-wrapper {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 4fr;
  font-family: sans-serif;
}

.grid-wrapper > * {
  padding: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.places-list > li {
  padding: 20px 20px;
  border: 1px solid #d3d3d3;
  margin: 5px 0;
}

.places-list > li:hover {
  background-color: #efefef;
  cursor: pointer;
}

.places-list > li.selected {
  background-color: #f2f3ff;
}

input {
  border: 0;
  border-bottom: 1px solid #919191;
  width: 100%;
  padding: 5px;
  height: 40px;
}

input:focus {
  outline: 0;
}

.name {
  font-weight: bold;
}

.plan-trip {
  height: 40px;
  border: 0;
  background: #4146df;
  color: white;
  cursor: pointer;
  width: 100%;
}

.my-trip,
.alt-trip {
  width: 75%;
  margin: auto;
}

.my-trip li,
.alt-trip li {
  margin: 10px 0px;
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

svg {
  font-size: 2rem;
  /* border: 1px solid navy; */
  margin-right: 1rem;
}
.my-trip {
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
}
.bus-container {
  padding: 0;
  padding-top: 5px;
}
.error-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.error-div > div > svg {
  color: red;
}
